:root {
  --main-color: #FF6060;
}

* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html, body, main {
  height: 100%;
  width: 100%;
}

#root-router {
  width: 100%;
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

#root-router {
  width: 80%;
  min-width: 400px;
  margin: auto;
  flex: 1;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}