/* src/Header/Nav.module.scss */
.Nav_module_HeaderNav .Nav_module_ListNav {
  display: flex;
  gap: 0 25px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.Nav_module_HeaderNav .Nav_module_ListNav .Nav_module_Link {
  color: #000;
  text-decoration: none;
  font-size: 24px;
}
.Nav_module_HeaderNav .Nav_module_ListNav .Nav_module_Active {
  text-decoration: underline;
}

/* src/Header/Header.module.scss */
.Header_module_Header {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* src/Pages/Not-Found.module.scss */
.Not_Found_module_NotFound {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Not_Found_module_NotFound h2 {
  font-weight: bold;
  font-size: 200px;
  color: var(--main-color);
  margin: 60px;
}
.Not_Found_module_NotFound p {
  font-size: 36px;
  color: var(--main-color);
}
.Not_Found_module_NotFound a {
  color: #000;
}

/* src/CardLogement/CardLogement.module.scss */
.CardLogement_module_CardLogement {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.CardLogement_module_CardLogement .CardLogement_module_Text {
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.CardLogement_module_CardLogement .CardLogement_module_Media {
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.35s linear;
}
.CardLogement_module_CardLogement .CardLogement_module_Media:hover {
  transform: scale(1.2);
}

/* src/Overlap/Overlap.module.scss */
.Overlap_module_Overlap {
  margin: 0;
  height: 220px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}
.Overlap_module_Overlap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
.Overlap_module_Overlap p {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(50%) translateY(50%);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
}
.Overlap_module_Overlap img {
  object-fit: cover;
  transform: translateY(-300px);
}

/* src/Pages/Home.module.scss */
.Home_module_ListLogements {
  display: flex;
  background-color: #F6F6F6;
  border-radius: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  gap: 20px;
}

/* src/Logement/Slider/Media.module.scss */
.Media_module_Media {
  border-radius: 25px;
}
.Media_module_MediaContainer {
  display: inline-block;
  position: relative;
}

/* src/Logement/Slider/ActionArrow.module.scss */
.ActionArrow_module_ActionArrow {
  position: absolute;
  top: 50%;
  background-color: transparent;
  outline: none;
  offset: none;
  border: none;
  cursor: pointer;
}
.ActionArrow_module_ActionArrow.ActionArrow_module_Left {
  left: 0px;
  transform: rotateZ(90deg);
}
.ActionArrow_module_ActionArrow.ActionArrow_module_Right {
  right: 0px;
  transform: rotateZ(-90deg);
}

/* src/Logement/Slider/Counter.module.scss */
.Counter_module_Counter {
  font-size: 18px;
  color: #fff;
  position: absolute;
  font-weight: 700;
  bottom: 30px;
  left: 49%;
}

/* src/Logement/Slider/Slider.module.scss */
.Slider_module_Slider {
  position: relative;
  height: 415px;
  text-align: center;
}

/* src/Logement/Title/Title.module.scss */
.Title_module_Title h2,
.Title_module_Title p {
  margin: 0;
}
.Title_module_Title h2 {
  color: var(--main-color);
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 500;
}
.Title_module_Title p {
  font-size: 18px;
}

/* src/Logement/Host/Name.module.scss */
.Name_module_Name {
  color: var(--main-color);
  font-size: 18px;
  word-break: break-word;
  margin: 0;
}

/* src/Logement/Host/Avatar.module.scss */
.Avatar_module_Avatar {
  border-radius: 50%;
  object-fit: cover;
  background-color: #C4C4C4;
}

/* src/Logement/Host/Host.module.scss */
.Host_module_Host {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

/* src/Logement/Ranking/Ranking.module.scss */
.Ranking_module_Ranking {
  display: flex;
}
.Ranking_module_Ranking li {
  width: 32px;
  height: 32px;
}

/* src/Logement/Tag/Tag.module.scss */
.Tag_module_Tag {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 4px 0;
  width: 115px;
}
.Tag_module_Tag p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* src/Accordion/atomes/Header.module.scss */
.Header_module_AccordionHeader {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px;
  padding-right: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_module_AccordionHeaderTitle {
  margin: 0;
}

/* src/Accordion/atomes/Icon.module.scss */
.Icon_module_AccordionIcon {
  background-color: transparent;
  border: none;
  outline: none;
  offset: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  transform: rotateZ(0deg);
  transition: transform 0.5s linear;
}
.Icon_module_AccordionIcon.Icon_module_Up {
  transform: rotateZ(180deg);
}

/* src/Accordion/atomes/Content.module.scss */
.Content_module_AccordionContent {
  background-color: rgba(246, 246, 246, 0.4509803922);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 25px 0px;
  padding-left: 25px;
  font-size: 18px;
  display: none;
}
.Content_module_AccordionContent.Content_module_Open {
  display: block;
}

/* src/Pages/Logement.module.scss */
.Logement_module_TagListAndRanking,
.Logement_module_TitleAndHost,
.Logement_module_AccordionsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Logement_module_TitleAndHost,
.Logement_module_TagListAndRanking {
  margin-bottom: 20px;
}
.Logement_module_TagList {
  display: flex;
  gap: 0 10px;
}
.Logement_module_AccordionsList section {
  flex: 0.45;
}
.Logement_module_LogementContainer {
  margin-bottom: 50px;
}
.Logement_module_AccordionsList {
  align-items: baseline;
}

/* src/Pages/About.module.scss */
.About_module_AccordionList {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  flex: 1;
  width: 80%;
  margin: 40px auto;
}
.About_module_About {
  display: flex;
  flex-direction: column;
}

/* src/Footer/Footer.module.scss */
.Footer_module_Footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px 0;
  padding: 50px 0;
}
.Footer_module_Footer .Footer_module_TextCopyright {
  margin: 0;
}

/* app.scss */
:root {
  --main-color: #FF6060;
}
* {
  font-family: "Montserrat";
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
html,
body,
main {
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
}
#root-router {
  width: 80%;
  min-width: 400px;
  margin: auto;
  flex: 1;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hide {
  display: none;
}
