:root {
  --main-color: #FF6060;
}

* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

#root-router {
  max-width: 1440px;
  margin: auto;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}