.AccordionIcon {
  background-color: transparent;
  border: none;
  outline: none;
  offset: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;

  transform: rotateZ(0deg);
  transition: transform .5s linear;

  &.Up {
    transform: rotateZ(180deg);
  }
}


