.TagListAndRanking, .TitleAndHost, .AccordionsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TitleAndHost, .TagListAndRanking {

  margin-bottom: 20px;
}

.TagList {
  display: flex;
  gap: 0 10px;
}

.AccordionsList {
  & section {
    flex: .45;
  }
}

.LogementContainer {

  margin-bottom: 50px;
}

.AccordionsList {
  align-items: baseline;
}

@media (max-width: 800px) {
  .TitleAndHost {
    flex-direction: column;
    align-items: flex-start;
  }
}