.NotFound {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & h2 {
    font-weight: bold;
    font-size: 200px;
    color: var(--main-color);
    margin: 60px;
  }

  & p {
    font-size: 36px;
    color: var(--main-color);
  }

  & a {
    color: #000;
  }
}