.Tag {

  background-color: var(--main-color);
  border-radius: 10px;

  padding: 4px 0;
  width: 115px;

  & p {

    margin: 0;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;

    /** 
    * behavior during text too big: https://stackoverflow.com/questions/7612125/how-to-hide-too-long-texts-in-div-elements
    **/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}